$color_1: var(--primary-white);
$color_2: var(--primary-black);


.footer {
	background: var(--primary-black-2);
	color: $color_1;
	padding: 10px;
}
.new-ft {
	background: var(--primary-blue-5);
	color: $color_1;
}
.footlist {
	margin: 13px 0;
	h4 {
		font-size: 14px;
		margin: 0 0 20px;
		font-weight: 700;
	}
}
.kok {
	width: 160px;
	border-radius: 6px;
}
.footsocial {
	ul {
		li {
			display: inline-block;
			margin-right: 20px;
			a {
				display: block;
				color: $color_1;
				i {
					font-size: 25px;
				}
				&:hover {
					color: $color_1;
				}
			}
		}
	}
}
.clr-white {
	color: $color_1 !important;
}
.fnt-13 {
	font-size: 13px !important;
}
.footul {
	li {
		margin-bottom: 10px;
		color: $color_2;
		a {
			&:hover {
				color: $color_1;
			}
			display: block;
			color: $color_1;
			font-size: 13px;
		}
	}
}
.footlogos {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid var(--primary-white);
	padding: 25px;
	padding-bottom: 0;
	border-radius: 5px;
}
.copytextbox {
	p {
		color: $color_1;
		margin: 0 0 5px;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none !important;
}
