$color_1: var(--primary-grey-2);

.mobile-hide {
	display: block;
}
.d-flexCol {
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.gkg {
	color: $color_1;
	font-size: 13px;
}
.bg-white {
	background: var(--primary-white);
}
.fnt-24px {
	font-size: 24px;
}
