$color_1: var(--primary-grey-6);
$color_2: var(--primary-greyish-3);
$color_3: var(--primary-black);
$color_4: var(--primary-greyish-2);
$background-color_1: var(--primary-blue-9);
$border-color_1: var(--primary-white);

.order-tracking.completed {
	.is-complete {
		&:after {
			border-color: $border-color_1;
			border-width: 0px 3px 3px 0;
			width: 7px;
			left: 21px;
			opacity: 1;
		}
	}
	&:before {
		background-color: $background-color_1;
	}
}
.order-tracking {
	p {
		color: $color_1;
		font-size: 13px;
		margin-top: 8px;
		margin-bottom: 0;
		line-height: 20px;
		span {
			font-size: 14px;
		}
	}
	&:first-child {
		&:before {
			display: none;
		}
	}
}
.letshop1 {
	background: var(--primary-white-6) !important;
	padding: 30px 10px 30px 10px;
	.col-lg-2 {
		width: 20% !important;
	}
}
.letshop {
	.col-lg-2 {
		width: 20% !important;
		width: 50% !important;
	}
}
.big-rr2 {
	background: var(--primary-white);
	padding: 10px;
	border-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.losp {
	text-align: left;
}
.fot-o {
	display: flex;
	justify-content: space-between;
	padding: 2px 18px;
}
.this-left {
	margin: auto;
	margin-left: 0;
	margin-bottom: 0;
}
.bnn33 {
	box-shadow: 0px 3px 1px -2px var(--rgba-primary-8), 0px 2px 2px 0px var(--rgba-primary-9), 0px 1px 5px 0px var(--rgba-primary-10);
	margin-bottom: 20px;
	border-radius: 15px;
	background: var(--primary-white);
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.h-summ {
	font-size: 19px;
	font-weight: 600;
	color: $color_2;
}
.font-blk {
	font-size: 11px;
	color: $color_3;
}
.ghh {
	border: 1px solid var(--primary-white-6);
	padding: 13px 14px;
	border-radius: 15px;
}
.fnt-15 {
	font-size: 15px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
	.losp {
		text-align: center;
	}
	.fot-o {
		display: block;
		justify-content: center;
	}
	.the-para-magic2 {
		margin-bottom: 11px;
		font-weight: 400;
		color: $color_4;
		font-size: 15px;
		margin-top: 10px;
	}
}
