$color_1: var(--primary-black);
$color_2: var(--primary-white);

.box-coupen3 {
	border: 1px solid #ededed;
	box-shadow: 0 2px 4px 0 #4747471a, 0 12px 16px 0 rgb(0 0 0 / 2%);
	transition: .3s !important;
	border-radius: 14px;
	height: 300px;
	margin-bottom: 10px;
	padding: 5px;
	background: var(--primary-white);
}
.bagde-flag-wrap {
	position: absolute;
}
.img-sec {
	margin-bottom: 15px;
	text-align: center;
}
.w-144 {
	width: 100%;
}
.coupendis {
	position: relative;
	text-align: center;
	bottom: 10px;
}
.price-rr {
	font-size: 13px;
	color: $color_1;
	font-weight: 700;
}
.bagde-flag {
	text-transform: capitalize;
	color: $color_2;
	background: var(--primary-red-2);
	letter-spacing: 0;
	font-size: 10px;
	line-height: 8px;
	font-weight: 600;
	padding: 10px 6px;
	display: block;
	text-decoration: none;
	border-radius: 50%;
	border: 2px solid var(--primary-white);
	width: 44px;
	text-align: center;
	line-height: 1.2;
	height: 44px;
}
