$color_1: var(--primary-red);

.mobile-hide {
	display: block;
}
.esec-mar {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.jokes2 {
	background-image: url(../../../Assets/last-ban.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	width: var(--w100);
	height: 450px;
}
.hero-text-box2 {
	padding: 70px 110px;
	width: var(--w100) !important;
}
.hero-description24 {
	color: $color_1;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 22px;
}
.hero-description25 {
	color: $color_1;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 40px;
}
